body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.text-size{
    font-size: 1.2rem;
    font-weight: 20;
    color: yellowgreen;
}

.display{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}


.choice{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}


.pick-one{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
img{
    width: 150px;
    height: 150px;
    border: 1px solid yellowgreen;
    border-radius: 6px;
    transition: all 0.2;
}
img:hover{
    transform: scale(1.2);
    box-shadow:  3px 3px 0.5px yellowgreen;
}